#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card{
  display: flex;
  flex-direction:column;            
  background-color: white;
  border-radius: 5px;
  box-shadow: 5px 5px 10px -2px rgba(0,0,0,0.2);
  border:1px solid rgba(0,0,0,0.2);
  --padding:10px;
  box-sizing: border-box;
}

.card-header{
  padding:var(--padding);
  font-size: 1.2rem;
  font-weight: bold;
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);            
  border-bottom: 1px solid rgba(0,0,0,0.2);
}

.card-body{
  --height: calc(100% - --padding);            
  padding:var(--padding);
  font-size: 1rem;
  --border-radius: var(--radius);
  flex-grow: 1;
}

.card-footer{
  padding:var(--padding);
  font-size: 1rem;
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);          
  margin-top: auto;
  border-top: 1px solid rgba(0,0,0,0.2);
}

.text{
  padding:7px;
  font-weight: bold;
}

.sort{
  display: flex;
  padding:7px;
  font-weight: bold;
  cursor: pointer;
  background-color: white;
  margin-top:10px;
  gap: 10px;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
}

.tableContainer{
  height: 400px;
  overflow: auto;
  margin-top: 10px;
  padding: 1px;
}

.marked{
  text-decoration: line-through;
  color: red;
}